@import '../../../styles/variables.scss';

.date-picker {
  display: flex;
  align-items: center;
  padding-left: 45px;
  height: 70px;
  background-color: $white-color;

  &__icon {
    border-radius: 4px;
    font-size: 40px;
    background-color: $blue-color;
    color: $white-color;
  }

  &__input {
    margin-left: 10px;
    margin-top: 10px;
    width: 110px;
    border: none;
  }

  &__nearest-day {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 10px;
    font-size: 10px;
    border: none;
    background-color: white;
    color: #a9a9a9;
  }

  &__nearest-day span {
    font-size: 14px;
    font-weight: 700;
  }

  &__nearest-day:hover {
    color: #1eb7ee;
    cursor: pointer;
    border-bottom: 2px solid $blue-color;
  }
}
