@import '../../../styles/variables.scss';
@import '../../../styles/breakpoints.scss';

.airline {
  display: flex;
  align-items: center;
  justify-content: center;

  @include for-midium-down {
    flex-direction: column;
  }

  &__logo {
    width: 40%;
    margin-right: 10px;
  }
}

.terminal {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2em;
  width: 2em;
  border: 1px solid;
  border-radius: 50%;
  font-weight: 600;
  border-color: $blue-color;
  color: $blue-color;

  &--pomaranch {
    border: 1px solid;
    border-color: $pomaranch-color;
    color: $pomaranch-color;
  }
}
