* {
  box-sizing: border-box;
  outline: none;

  &::-webkit-scrollbar {
    width: 0;
    background: transparent;
  }
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  background-color: #e0e0e0;
  color: #2f2f2f;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul {
  margin: 0;
  padding: 0;
}
