@import '../../../styles/variables.scss';

.type-switchers {
  display: flex;
  margin: 35px auto 0;
  color: $white-color;

  &__link {
    flex: 1;
    height: 60px;
    border-radius: 60px 60px 0 0;
    line-height: 60px;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    background-color: $white-color;
    color: $blue-color;
    overflow: hidden;
    transition: 0.4s;

    &:hover {
      background-color: $white-blue-color;
    }

    &_arrivals {
      margin-left: -90px;
    }
  }

  &__link-icon {
    transform: scale(2.5) translate(-7px, 5px);
  }
}

// .active {
//   z-index: 1;
//   background-color: $white-color;
//   color: $blue-color;

//   &:hover {
//     background-color: $white-color;
//   }
// }

.type-switchers__icon {
  padding-top: 20px;
  padding: 10px;

  font-size: 28px;
}
