@import '../../../styles/variables.scss';
@import '../../../styles/breakpoints.scss';

.table {
  display: flex;
  flex-direction: column;
  border-collapse: collapse;
  background-color: white;
  box-shadow: 0px 20px 20px -7px rgb(30 183 238 / 34%);

  @include for-midium-down {
    font-size: 3vw;
  }
}

.table__body-row,
.table__head-row {
  display: flex;
}

.table__body-row:nth-of-type(odd) {
  background-color: rgb(30 183 238 / 15%);
}

th,
td {
  flex-basis: 0;
  flex-grow: 1;
  padding: 8px;
}

th,
td {
  min-width: 10%;
}

tr th,
tr td {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nothing-found {
  height: 300px;
  line-height: 300px;
  text-align: center;
  font-size: 50px;
  font-weight: 700;
  background-color: $white-color;
}
